In [3]:
import pandas as pd
import numpy as np
%run countyMedian/countyMedian.py

In [9]:
housing_rental_ratio = pd.read_pickle('data/housing_rental_ratio.pkl')
housing_rental_ratio = housing_rental_ratio.rename(columns={'RegionName':'zipcode'})
housing_rental_ratio.head()

,zipcode,r_agg_2011,r_agg_2015_adj,r_pct_delta,h_agg_2011,h_agg_2015_adj,h_pct_delta,ratio_2011,ratio_2015,ratio_pct_delta
0,11368,1.868000,2.188278,1.171455,373.833333,431.274105,1.153653,200.124911,197.083754,0.984804
1,79936,0.744167,0.694379,0.933096,80.333333,75.060164,0.934359,107.950728,108.096860,1.001354
2,60629,1.197000,1.180207,0.985971,107.166667,113.430961,1.058454,89.529379,96.111037,1.073514
3,90650,1.524333,1.640026,1.075898,228.750000,292.549418,1.278905,150.065602,178.380911,1.188686
4,11226,1.014000,1.277783,1.260141,309.166667,416.876846,1.348389,304.898093,326.250103,1.070030