In [9]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [18]:
df = pd.read_pickle('../data/cleaned_demographic_features_2010.pkl')
single = df[['GEO.id2','A042']]
single = single.rename(columns={'GEO.id2':'zipcode'})
single['zipcode'] = single['zipcode'].astype(str)
single['zipcode'] = [el.replace('.0','') for el in single['zipcode']]
single.to_pickle('../data/single_households.pkl')

In [19]:
pd.read_pickle('../data/single_households.pkl')

      zipcode  A042
1       00601  20.3
2       00602  20.5
3       00603  26.4
4       00606  22.8
5       00610  22.8
6       00612  25.6
7       00616  24.3
8       00617  22.8
9       00622  26.9
10      00623    25
11      00624    17
12      00627  20.2
13      00631  26.2
14      00637  23.2
15      00638  19.5
16      00641  21.7
17      00646    19
18      00647  26.7
19      00650    19
20      00652  20.5
21      00653  23.8
22      00656  20.4
23      00659  20.4
24      00660  25.4
25      00662  23.2
26      00664  19.4
27      00667  24.2
28      00669  21.2
29      00670  20.6
30      00674  23.2
...       ...   ...
33091   99786  23.7
33092   99788  29.2
33093   99789  21.1
33094   99790    75
33095   99791  29.4
33096   99801  26.3
33097   99820  31.6
33098   99824  33.6
33099   99825    30
33100   99826  35.4
33101   99827  31.5
33102   99829  25.2
33103   99830    22
33104   99832    34
33105   99833  30.2
33106   99835    29
33107   99836  36.4
33108   99840  33.5
33109   99841  41.1
33110   99901  27.9
33111   99903  31.3
33112   99918  42.6
33113   99919  36.1
33114   99921  29.7
33115   99922    24
33116   99923  43.8
33117   99925  25.9
33118   99926  24.4
33119   99927  52.7
33120   99929  32.6

[33120 rows x 2 columns]