In [1]:
import numpy as np
import pandas as pd

## average all months from 2010 2011 to get 2010 avg, average all months from 2014 2015 to get 2014 avg

In [15]:
rental_raw = pd.read_csv('data/Zip_ZriPerSqft_AllHomes.csv')

In [16]:
rental_raw.head(3)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-11,2010-12,2011-01,...,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10
0,62080,11368,New York,NY,New York,Queens,1,NaN,NaN,NaN,...,2.298,2.306,2.310,2.306,2.290,2.284,2.280,2.312,2.354,2.404
1,93144,79936,El Paso,TX,El Paso,El Paso,2,0.760,0.760,0.756,...,0.726,0.730,0.732,0.736,0.736,0.738,0.740,0.742,0.742,0.742
2,84630,60629,Chicago,IL,Chicago,Cook,3,1.194,1.212,1.222,...,1.246,1.238,1.238,1.240,1.238,1.240,1.244,1.254,1.258,1.258

In [23]:
col_11 = [col for col in rental_raw.columns if '2011' in col]
col_14_15 = rental_raw.columns[-12:]
rental_raw['agg_2011'] = rental_raw[col_11].mean(axis=1)
rental_raw['agg_2015'] = rental_raw[col_14_15].mean(axis=1)
rental_raw = rental_raw[['RegionName','agg_2011','agg_2015']]

infl_rate = 1.0573
rental_raw['agg_2015_adj'] = rental_raw.agg_2015/infl_rate
rental_raw['pct_delta'] = rental_raw.agg_2015_adj/rental_raw.agg_2011

In [25]:
rental_raw.drop('agg_2015',1).to_pickle('data/response_rental.pkl')

In [24]:
rental_raw.head(10)

   RegionName  agg_2011      agg_2015  agg_2015_adj     pct_delta
0       11368  1.868000   3790.714009   3585.277603   1919.313492
1       79936  0.744167  26645.827061  25201.765876  33865.754816
2       60629  1.197000  20210.479363  19115.179574  15969.239410
3       90650  1.524333  30217.749431  28580.109176  18749.251591
4       11226  1.014000   3742.778644   3539.940077   3491.065165
5       11385  1.254000   3795.930282   3590.211182   2863.007322
6       10467  1.040000   3489.743685   3300.618259   3173.671403
7       11220  1.636000   3741.224560   3538.470217   2162.879106
8       90201  1.459667  30068.042643  28438.515694  19482.883553
9       90280  1.459833  30094.371324  28463.417501  19497.717206